/* 全局样式 */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box !important;
    user-select: none;
    list-style: none;
    font-family: "微软雅黑";
}

a {
    text-decoration: none;
    outline: none;
    color: #000;
}

/* 复杂颜色定义 */
* {
    --list_Check_Color: linear-gradient(to right, #7d482a, #f5b58d);
}

/* 加载显示logo */
#maxImgBg {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #fbf2db;
    /* background-image: linear-gradient(to bottom, #a0a0a0, #e3e3e3); */
    z-index: 10;
}

#maxImgBg .topImgBox {
    width: 20%;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 32%;
    bottom: 0;
}

#maxImgBg img {
    width: 100%;
}

/* 顶部栏样式 */
#topPage {
    width: 100%;
    height: 50px;
    background-color: white;
    position: relative;
    z-index: 1;
}

#topPage .topLogo {
    width: 45px;
    height: 45px;
    background-image: url(../../static/logo2.png);
    background-size: 100%;
    position: relative;
    top: 5px;
    left: 10px;
    float: left;
}

#topPage .topTitle {
    font-size: 1.1em;
    font-weight: 200;
    position: relative;
    top: 14px;
    left: 13px;
}

#topPage .topOptions {
    height: 2em;
    float: right;
    position: relative;
    top: 0.9em;
    right: 0px;
}

#topPage .topOptions li {
    float: left;
    width: 8em;
    height: 37px;
    font-size: 16px;
    list-style: none;
    font-weight: 200;
    text-align: center;
    cursor: pointer;
    background-image: var(--list_Check_Color);
    -webkit-background-clip: text;
}

#topPage .topOptions li:hover {
    color: rgb(0 0 0 / 0%);
    transition: color 0.3s;
}

/* 隐藏按钮 */
.optionMore {
    width: 30px;
    height: 30px;
    margin: 10px;
    margin-right: 20px;
    background-image: url(../../static/minMore.png);
    background-size: 100%;
    background-position: center;
    float: right;
    cursor: pointer;
    display: none;
    z-index: 20 !important;
}

/* 顶部栏下拉框 */
#topPage .topPageOption {
    width: 100%;
    height: 0px;
    padding-left: 1em;
    background-color: white;
    margin-top: calc(50px - 0.9em);
    box-shadow: 0 12px 10px 0 rgb(0 0 0 / 10%);
    border-top: 0px solid #eeeeee;

    transition: height 0.3s, border-bottom 0.3s;
}

#topPage .topPageOption ul {
    width: calc(100% / 6);
    height: 0%;
    /* border-right: 1px solid gray; */
    padding-left: 1em;
    float: left;
    position: relative;
    top: 1em;
    overflow: hidden;
    transition: height 0.3s;
}

#topPage .topPageOption ul li {
    font-size: 14px;
    clear: both;
    height: 37px;
    text-align: left;
}

#topPage .topOptions:hover .topPageOption {
    height: 190px;
    border-top: 2px solid #eeeeee;
}

#topPage .topOptions:hover .topPageOption ul {
    height: 80%;
}

#topPage .topPageOption ul li a {
    transition: color 0.3s;
}

#topPage .topPageOption ul li :hover {
    background-image: var(--list_Check_Color);
    -webkit-background-clip: text;
    color: transparent;
}

/* 内容栏样式 标题 */
#contentPageTitle {
    width: 100%;
    height: 90vh;
    background-image: url(../../static/homeBg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 32vh;
}

#contentPageTitle .bigTitle {
    width: 650px;
    height: auto;
    margin: 0px auto;
    font-size: 4em;
    font-weight: 100;
    color: black;

    text-align: center;
}

#contentPageTitle .bigTitle .titleTime {
    font-size: 0.5em;
    position: relative;
    top: -40px;
}

/* 内容栏样式 1 */
#contentPage_1 {
    width: 100%;
    height: 24em;
    background-color: #eeeeee;
}

#contentPage_1 .pageText_1 {
    font-size: 1.2em;
    font-weight: 500;
    margin-left: 500px;
    margin-top: 110px;
    float: left;
}

#contentPage_1 .pageText_1 .text_0 {
    font-weight: 600;
}

/* 内容栏样式 2 */
#contentPage_2 {
    width: 63vw;
    height: 53em;
    background-color: white;
    padding-top: 5em;
    margin: 0px auto;
}

#contentPage_2 .showBox1 {
    max-width: 50%;
    width: 50%;
    height: 650px;
    float: left;
    overflow: hidden;
}

#contentPage_2 .showBox1 img {
    height: 650px;
    float: left;
}

#contentPage_2 .showText1 {
    width: 50%;
    float: right;
    margin-top: 12em;
    padding-left: 12%;
}

#contentPage_2 .showText1 .text_1,
#contentPage_2 .showText1 .text_2 {
    font-size: 3em;
    font-weight: 500;
}

#contentPage_2 .showText1 .text_3 {
    height: 27px;
    font-size: 20px;
    font-weight: 100;
    border-bottom: 1px solid black;
}

#contentPage_2 .showText1 .text_4 {
    width: 455px;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
}

/* 内容栏样式 3 */
#contentPage_3 {
    width: 63vw;
    height: 570px;
    margin: 0px auto;
}

#contentPage_3 .showBox1 {
    width: 100%;
    height: 490px;
    background-image: url(../../static/showImg2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

#contentPage_3 .showBox1 .text_1 {
    color: white;
    font-size: 2.5em;
    letter-spacing: 7px;
    position: absolute;
    right: 130px;
    top: 80px;
}

#contentPage_3 .showBox1 .text_2 {
    color: white;
    font-size: 0.9em;
    font-weight: 100;
    letter-spacing: 1px;
    position: absolute;
    right: 130px;
    top: 150px;
}

/* 底部样式 */
#bottomPage {
    width: 100%;
    height: 10vh;
    background-color: #eeeeee;
    padding-top: 30px;
}

#bottomPage .textBox {
    width: 63vw;
    height: 100%;
    margin: 0px auto;
}

#bottomPage .textBox .textBG {
    width: auto;
    height: 14px;
    float: right;
}

#bottomPage span,
#bottomPage a {
    color: gray;
    font-size: 14px;
}

#bottomPage a:hover {
    text-decoration: underline;
}

/* 手机屏幕适配 */
@media screen and (max-width: 1020px) {
    #topPage .topOptions {
        width: 0px;
        /* width: 25vw; */
        height: 100vh;
        top: 0px;
        right: 0px;
        background-color: #eeeeee;
        box-shadow: 0 0 5px rgb(0 0 0 / 40%);
        /* padding: 0px; */
        /* padding: 50px 25px; */
        padding-left: 0px;
        overflow: hidden;
        position: fixed;
    }

    #topPage .topOptions li {
        width: 100%;
        clear: both;
        font-size: 1.1em;
        height: 0px;
        overflow: hidden;
    }

    #topPage .topPageOption {
        width: 100%;
        height: auto;
        box-shadow: none;
        transition: none;
        background-color: #eeeeee;
        padding-left: 0px;
        margin-top: none;
        box-shadow: none;
        border-top: 0px solid #eeeeee;
    }

    #topPage .topPageOption ul {
        width: 100%;
        padding-bottom: 2em;
        padding-left: 0px;
        margin-left: -10px;
    }

    #topPage .topOptions:hover .topPageOption ul {
        height: auto;
    }

    #topPage .topPageOption ul li {
        text-align: center;
        line-height: 250%;
        font-size: 1.1em;
    }

    .optionMore {
        display: inline-block;
    }

    #topPage .optionMore:hover+.topOptions,
    #topPage .topOptions:hover {
        width: 25vw;
        padding-left: 20px;
        transition: width 0.3s;
    }

    #topPage .topOptions:hover .topPageOption {
        height: auto;
        border-top: none;
    }
}

@media screen and (max-width: 600px) {

    #topPage .optionMore:hover+.topOptions,
    #topPage .topOptions:hover {
        width: 40vw;
        padding-left: 20px;
        transition: width 0.3s;
    }
}

@media screen and (max-width: 300px) {

    #topPage .optionMore:hover+.topOptions,
    #topPage .topOptions:hover {
        width: 80vw;
        padding-left: 20px;
        transition: width 0.3s;
    }
}


@media only screen and (max-width: 770px) {
    #contentPageTitle {
        height: 95vh;
        background-size: 200%;
    }

    #contentPageTitle .bigTitle {
        width: 80%;
        height: auto;
    }

    #contentPage_1 .pageText_1 {
        margin-left: 5%;
        margin-top: 45px;
        zoom: 0.9;
    }

    #contentPage_2 {
        width: 90vw;
        height: 32em;
    }

    #contentPage_2 .showBox1 {
        max-width: 100%;
        width: 100%;
        height: 400px;
    }

    #contentPage_2 .showBox1 img {
        width: 700px;
        height: auto;
        /* height: 650px; */
        position: relative;
        top: -260px;
    }

    #contentPage_2 .showText1 {
        position: absolute;
        width: 60%;
        margin-top: 10px;
        padding-left: 10px;
        color: white;
    }

    #contentPage_2 .showText1 .text_3 {
        height: 27px;
        font-size: 20px;
        font-weight: 100;
        border-bottom: 1px solid white;
    }

    #contentPage_3 {
        width: 90vw;
        height: 320px;
    }

    #contentPage_3 .showBox1 .text_1 {
        right: 20px;
        top: 20px;
    }

    #contentPage_3 .showBox1 .text_2 {
        right: 20px;
        top: 80px;
    }

    #maxImgBg .topImgBox {
        width: 45%;
    }

    #contentPageTitle .bigTitle {
        font-size: 2em;
    }

    #contentPageTitle .bigTitle .titleTime {
        top: -20px;
    }

    #contentPage_1 {
        height: 15em;
    }

    #contentPage_3 .showBox1 {
        height: 400px;
    }

}

@media only screen and (max-width: 480px) {
    #contentPageTitle {
        background-size: 360%;
        background-position-x: 20%;
    }

    #contentPageTitle .bigTitle {
        width: 100%;
    }

    #contentPageTitle {
        height: 95vh;
    }

    #contentPage_2 .showBox1 img {
        width: 457px;
        top: -160px;
    }

    #contentPage_2 .showBox1 {
        height: 300px;
    }

    #contentPage_2 {
        padding-top: 2em;
    }

    #contentPage_2 {
        height: 23em;
    }

    #contentPage_3 {
        height: 200px;
    }

    #contentPage_3 .showBox1 {
        height: 280px;
    }

    #bottomPage .textBox {
        width: 95vw;
    }

    #contentPage_2 .showText1,
    #contentPage_3 .showBox1 span {
        zoom: 0.5;
    }

    #maxImgBg .topImgBox {
        width: 70%;
    }
}