/* 全局设置 */
body {
    background-color: #eeeeee;
}

/* 复杂颜色定义 */
* {
    --list_text: linear-gradient(to bottom, transparent, white 85%);
    --skin: #86499B;
}

/* 标题样式 */
#show_title {
    width: 100%;
    height: 100px;
    font-size: 3em;
    font-weight: 200;
    padding-left: 100px;
    line-height: 200%;
    background-color: #eeeeee;
}

/* 大图展示 */
#picMask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0 0 0 / 50%);
    z-index: 11;
}
#picMask .picDrag {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: 12;
}
#bigPic {
    width: auto;
    height: auto;
    padding: 0.3%;
    position: absolute;
    z-index: 10;
    background-color: #eeeeee;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0 0 0 / 40%);
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    cursor: move;
    
}

#bigPic div {
    width: 100%;
}

#bigPic div img {
    object-fit: contain;
    -webkit-user-drag: none;
}

#bigPic div .btnQuin {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 2px auto;
    /* border: 2px solid gray; */
    background-color: #efefef;
    line-height: 60%;
    text-align: center;
    font-size: 2.5em;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    cursor: pointer;
}

/* 展示盒样式 */
#show_box_elite {
    width: 100%;
}

/* 展示列表样式 */
#show_box_elite ul {
    margin: 0px auto;
    width: 90vw;
}

#show_box_elite ul li {
    width: 400px;
    height: 250px;
    background-color: #eeeeee;
    border-left: 10px solid var(--skin);
    box-shadow: 0 0 5px rgb(0 0 0 / 40%);
    margin: 15px;
    cursor: pointer;
    float: left;
}

#show_box_elite ul li div:first-child {
    width: 100%;
    height: 85%;
    position: relative;
    overflow: hidden;
    /* background-image: url(../../static/showUndefined.png);
    background-size: 100%;
    background-position: center; */
}

#show_box_elite ul li div:first-child img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    -webkit-user-drag: none;
}

#show_box_elite ul li div:last-child {
    width: 100%;
    height: 15%;
    background-size: 100%;
    background-position: center;
    background-color: white;
    position: relative;
}

#show_box_elite ul li div div:first-child {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #eeeeee;
    background-image: none;
    background-size: 100%;
    background-position: center;
    padding-left: 10px;

    color: var(--skin);
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}

#show_box_elite ul li div span {
    padding-left: 10px;
    font-size: 14px;
    line-height: 35px;
}

#show_box_elite ul li div .skinTime {
    float: right;
    padding-right: 10px;
    color: gray;
}