/* 全局设置 */
*{
    outline: none;
}
body {
    background-color: #eeeeee;
}

/* 颜色定义 */
* {
    --border: #2e134a;
    --sexOption: linear-gradient(to right, #a7e9e7, #e283df);
    --askBox: linear-gradient(45deg, #cca9d4, #bdcddb);
}

/* 变量值 */
* {
    --textLongLen: 50%
}

/* 所有文本框 */
input {
    font-size: 18px;
    resize: none;
    height: 30px;
}

/* 小标题 */
.spanTitle {
    width: 100%;
    height: 30px;
    background-color: #dbdbdb;
    padding: 0px 10px;
    line-height: 170%;
    font-weight: 600;
}

/* 标题样式 */
#show_title {
    width: 100%;
    height: 100px;
    font-size: 3em;
    font-weight: 200;
    padding-left: 100px;
    line-height: 200%;
    background-color: #eeeeee;
}

/* 展示盒样式 */
#show_box {
    width: calc(100% - 200px);
    height: calc(100vh - 200px);
    position: relative;
    margin: auto;
}


/* 左侧内容 */
#show_box .infBox:first-child {
    float: left;
    width: calc(50% - 10px);
    box-shadow: 0 0 5px rgb(0 0 0 / 40%);
    margin-right: 20px;
    border-left: 10px solid var(--border);
    color: var(--border);
}

#show_box .infBox:first-child .userInfor {
    width: calc(100% - 50px);
    list-style: none;
    margin: 20px 5px;
    padding-left: 25px;
}

#show_box .infBox:first-child .userInfor .maxLenght {
    font-size: 14px;
}

#show_box .infBox:first-child .userInfor ul li {
    width: 100%;
    margin: 20px 5px;
    min-height: 30px;
    line-height: 200%;
}

#show_box .infBox:first-child .userInfor ul li .textName {
    width: 25%;
    height: 30px;
    float: left;
    overflow: hidden;
}

#show_box .infBox:first-child .userInfor ul li .textStar {
    color: red;
    font-weight: 800;
}

#show_box .infBox:first-child .userInfor ul li .Interest {
    width: var(--textLongLen);
    height: 30px;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#show_box .infBox:first-child .userInfor ul li .Interest input {
    width: calc(100%/3);
    border: 2px solid var(--border);
    text-align: center;
    font-size: 15px;
    margin-left: 10px;
}

#show_box .infBox:first-child .userInfor ul li .Interest input:first-child {
    border-left: 5px solid var(--border);
    margin-left: 0px;
}

#show_box .infBox:first-child .userInfor ul li .userSexOption {
    width: var(--textLongLen);
    height: 30px;
    float: left;
    background-image: var(--sexOption);
}

#show_box .infBox:first-child .userInfor ul li .userSexOption ul {
    width: 100%;
    height: 30px;
    border: 2px solid var(--border);
    overflow: hidden;
}

#show_box .infBox:first-child .userInfor ul li .userSexOption ul li {
    float: left;
    height: 30px;
    width: calc(100% / 5);
    font-size: 12px;
    text-align: center;
    line-height: 200%;
    cursor: pointer;
    margin: 0px;
    font-weight: 600;
}

#show_box .infBox:first-child .userInfor ul li .userSexOption ul .userSexCheck {
    background-color: var(--border);
    color: white;
    height: 10px !important;
}

#show_box .infBox:first-child .userInfor ul li .userSexOption ul li:not(.userSexCheck):hover {
    background-color: #7a64a5;
    color: white;
}

#show_box .infBox:first-child .userInfor .textLong {
    width: var(--textLongLen);
    border: 2px solid var(--border);
    border-left: 5px solid var(--border);
    padding-left: 10px;
    color: var(--border);
    font-size: 15px;
    resize: none;
}

#show_box .infBox:first-child .userInfor .userIntroduction,
#show_box .infBox:first-child .userInfor .userNotes {
    padding-top: 5px;
}

/* 右侧内容 */
#show_box .infBox:last-child {
    float: left;
    width: calc(50% - 10px);
    min-height: 100%;
}

.userInforBox {
    width: 100%;
    border-left: 10px solid var(--border);
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgb(0 0 0 / 40%);
    position: relative;
}

.userRoleCard {
    height: 200px;
    color: var(--border);
}

.userInforBox .userHead {
    width: 150px;
    height: 150px;
    background-image: url(../../static/userHeadForm.png);
    background-size: 100%;
    border: 2px solid var(--border);
    margin: 5px 0px 0px 15px;
    border-radius: 5px;
    cursor: pointer;
    float: left;
}

.userInforBox .userHead .askIcon {
    width: 25px;
    height: 25px;
    background-image: url("../../static/askIcon.png");
    background-size: 100%;
    float: right;
    margin: 2px;
}

.userInforBox .askBox {
    position: absolute;
    width: 430px;
    height: 100px;
    left: 160px;
    top: 35px;
    background-image: var(--askBox);
    border: 2px solid var(--border);
    border-left: 5px solid var(--border);
    padding: 5px;
    font-size: 0.9em;
    font-weight: bold;
    box-shadow: 0 0 5px rgb(0 0 0 / 40%);
    display: none;
    cursor: none;
}

.userInforBox .userHead .askIcon:hover .askBox {
    display: inherit;
    cursor: default;
}

.userInforBox .userRoleText {
    width: 65%;
    float: left;
    margin: 10px;
}

.userInforBox .userRoleText ul li {
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    margin: 5px;
}

.userInforBox .userRoleText .loginKey {
    width: 25%;
    height: 25px;
    font-size: 15px;
    text-align: center;
    border: 2px solid var(--border);
    border-left: 5px solid var(--border);
}

.userInforBox .userInfor {
    width: 100%;
    height: calc(100% - 50px);
    margin: 20px;
}

/* 点数分配 */
.userSkills {
    height: 370px;
    color: var(--border);
}

.userInforBox .userInfor ul .points {
    font-size: 16px;
    color: var(--border);
    font-weight: 600;
    width: calc(100% - 50px);
    list-style: none;
    margin: 20px 5px 20px 0px;
}

.userInforBox .userInfor ul .points * {
    float: left;
}

.userInforBox .userInfor ul .points div {
    width: 90px;
    font-size: 1.1em;
}

.userInforBox .userInfor ul .points .inforSkillsTitleText {
    width: 30px;
    text-align: center;
}

.userInforBox .userInfor ul .points span,
.userInforBox .userInfor ul li .inforSkillsTitle {
    font-size: 1.1em;
    font-weight: bold;
}

.userInforBox .userInfor ul li span {
    font-weight: 600;
}

.userInforBox .userInfor ul .points .skillsReload {
    width: 30px !important;
    height: 30px !important;
    background-image: url("../../static/skillsReload.png");
    background-size: 100%;
    background-position: center;
    cursor: pointer;
    margin-left: 20px;
    margin-top: -3px;
}

.userInforBox .userInfor ul li ul li {
    width: 280px !important;
    height: 25px;
    margin: 0px -40px 20px 0px;
    float: left;
    padding-top: 12px;
}

.userInforBox .userInfor ul li ul li span {
    float: left;
}

.userInforBox .userInfor ul li ul li .skillsPoint {
    width: 150px;
    height: 25px;
    border: 2px solid var(--border);
    border-radius: 5px;
    font-size: 15px;
    color: var(--border);
    margin: 0px 2.5%;
    text-align: center;
    font-weight: bold;
    float: left;
}

.userInforBox .userInfor ul li ul li .skillsPoint .pointAdd,
.pointDel {
    width: 40px;
    height: 100%;
    border-right: 2px solid var(--border);
    float: left;
    cursor: pointer;
    line-height: 120%;
}

.userInforBox .userInfor ul li ul li .skillsPoint .pointDel {
    border-right: none;
    border-left: 2px solid var(--border);
}

.userInforBox .userInfor ul li ul li .skillsPoint .pointAdd:hover,
.pointDel:hover {
    background-color: #7a64a5;
    color: white;
}

.userInforBox .userInfor ul li ul li .skillsPoint span {
    width: calc(100% - 80px);
    height: 100%;
    text-align: center;
}

/* 偏执 */
.userSkills div ul li .inforSkillsTitle {
    float: left;
    position: relative;
    top: 20px;
}

.userSkills div ul li .userDepartment {
    clear: both;
    width: calc(100% - 40px);
    height: 40px;
    border: 2px solid var(--border);
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    top: 30px;
    overflow: hidden;
}

.userSkills div ul li .userDepartment ul {
    height: 100%;
    background-image: var(--sexOption);
}

.userSkills div ul li .userDepartment ul li {
    font-size: 16px;
    line-height: 80%;
    width: 16.66% !important;
    height: 100%;
    text-align: center;
    float: left;
    margin: 0px;
    background-color: transparent;
    color: var(--border);
    cursor: pointer;
}

.userSkills div ul li .userDepartment ul .skillsDisables {
    cursor: no-drop;
    background-color: #eeeeee;
    color: gray;
}

.userSkills div ul li .userDepartment ul .departmentReady:hover {
    background-color: #7a64a5;
    color: white;
}

.userSkills div ul li .userDepartment ul .departmentCheck {
    text-align: right;
    padding-right: 30px;
    line-height: 70%;
    background-image: url("../../static/starIco.gif");
    background-position: left;
    background-position-x: 25px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-color: var(--border);
    color: white;
}

.userSkills div ul li .userDepartment ul li:not(:first-child) {
    border-left: 1px solid var(--border);
}

/* 负担 */
.userAbility {
    min-height: 166px;
    height: auto;
    color: var(--border);
}

.userAbility ul {
    margin: 20px 40px;
}

.userAbility ul li {
    width: 140px;
    height: 35px;
    line-height: 200%;
    list-style: none;
    font-size: 15px;
    text-align: center;
    margin: 5px;
    float: left;
    border: 2px solid var(--border);
    border-radius: 20px;
    cursor: pointer;
}

.userAbilityList ul .userAbilityCheck {
    background-image: linear-gradient(45deg, #fcb592, #fdcb67);
}

.userAbilityList ul li:hover {
    background-color: #d8d8d8;
}

.userAbilityList ul .AbilityAddText {
    overflow: hidden;
}

.userAbilityList ul .userAbilityAddLi {
    background-image: linear-gradient(45deg, #db8ffc, #fa6afd);
}

.userAbilityList ul .AbilityAddText input {
    width: 100%;
    height: 100%;
    border: none;
    outline: medium;
    text-align: center;
    font-size: 15px;
}


/* 分辨率适配 */
@media (-webkit-min-device-pixel-ratio: 0.75) {
    body {
        zoom: 1.3;
    }

    #show_box .infBox:first-child,
    #show_box .infBox:last-child {
        height: 60vh !important;
    }
}

@media (-webkit-min-device-pixel-ratio: 1) {
    body {
        zoom: 1;
    }

    #show_box .infBox:first-child,
    #show_box .infBox:last-child {
        height: 80vh !important;
    }
}

@media (-webkit-min-device-pixel-ratio: 1.25) {
    body {
        zoom: 0.8;
    }

    #show_box .infBox:first-child,
    #show_box .infBox:last-child {
        height: 100vh !important;
    }
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
    body {
        zoom: 0.8;
    }

    #show_box .infBox:first-child,
    #show_box .infBox:last-child {
        height: 130vh !important;
    }
}

@media only screen and (max-width: 1600px) {
    #show_box .infBox:first-child .userInfor ul li .textName {
        font-size: 14px;
    }

    #show_box .infBox:first-child .userInfor .maxLenght {
        font-size: 14px;
    }

    * {
        --textLongLen: 45%
    }

    #show_box .infBox:first-child,
    #show_box .infBox:last-child {
        height: 130vh;
    }
}

@media only screen and (max-width: 1280px) {
    #show_box .infBox:first-child {
        width: calc(100% - 10px);
        height: 130vh;
        margin-bottom: 20px;
    }

    #show_box .infBox:last-child {
        width: calc(100% - 10px);
        height: 130vh;
    }
}